{% extends 'config/base.html' %}

{% block title %}Book exchange site{% endblock %}

{% block content %}
<div class="container">
    <div class = "container text-center">
        <h1>{{ title }}</h1>
        <p>{{ welcome_text|safe }}</p>
        <button type="button" class="btn btn-primary btn-lg">Начать</button>
        <button type="button" class="btn btn-primary btn-lg">Купить</button>
        <button type="button" class="btn btn-primary btn-lg">Читать</button>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <img src="https://placehold.co/300" class="card-img-top img-thumbnail">
                    <div class="card-body">
                        <h4 class="card-title">Товары</h4>
                        <p>Ознакомьтесь с ассортиментом книг: от классики до современных бестселлеров</p>
                        <button type="button" class="btn btn-primary">Смотреть</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="https://placehold.co/300" class="card-img-top img-thumbnail">
                    <div class="card-body">
                        <h4 class="card-title">Посты</h4>
                        <p>Читайте новости о книгах, авторах и общайтесь с другими пользователями на форуме.</p>
                        <button type="button" class="btn btn-primary">Читать</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="https://placehold.co/300" class="card-img-top img-thumbnail">
                    <div class="card-body">
                        <h4 class="card-title">Услуги</h4>
                        <p>Бронирование, доставка, подписки и другие услуги для читателей.</p>
                        <button type="button" class="btn btn-primary">Подробнее</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}